# Rust
/target/
Cargo.lock

# Node
node_modules/
dist/

# WASM build output
**/pkg/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# Python virtual environment
venv/
public/examples
